.despesas-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.despesas-container header {
    display: flex;
    align-items: center;
}

.despesas-container header span {
    font-size: 20px;
    margin-left: 24px;
    margin-top: 1em;
}

.despesas-container header img{
    height: 64px;
}

.despesas-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.despesas-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.despesas-container header button:hover{
    border-color: #999;
}

.despesas-container h1 {
    margin-top: 40px;
    margin-bottom: 24px;
}

.despesas-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5em;
    list-style: none;
}

.despesas-container ul li {
    background: #FFF;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1.2em;
    display: grid;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.despesas-container ul li:hover {
    background: rgba(97, 205, 53, 0.2);
    border: 1px solid #81d75d;
    transition: 0.3s;
}

.despesas-container ul li strong {
    font-size: 20px;
    margin-bottom: 16px;
    color: #41414d;
    margin-top: 0.6vh;
}

.link {
    text-decoration: none;
}